tk
pillow==10.3.0
opencv-python==4.9.0.80
pyttsx3==2.90
sounddevice==0.4.6
vosk==0.3.45
numpy==1.26.4
torch==2.2.0
torchvision==0.17.0
ultralytics==8.1.0
pytesseract==0.3.10
python_version >= "3.10"

